@model BookListPagination<BookIndexViewModel>

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card-body">
             <nav>
               <ul class="navbar-nav mr-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" area-current="page">Book List</li>
                    @if(ViewBag.Categories != null){
                    <div class="dropdown" style="padding-left:20px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Categories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     @foreach (var category in ViewBag.Categories)
                     {
                         <a class="dropdown-item" asp-action="GetBookByCategory" asp-route-id="@category.Id" >@category.categoryName</a>
                     }
                    </div>
                    </div>
                }
                </ol>
               </ul>
                
            </nav>
             <div class="row">
                 <div class="col-md-12 table-responsive-md">
                     <form asp-action="Search" method="post" class="form-inline my-2 my-lg-0">
                          <input class="form-control mr-sm-2" name="title" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                      @if( User.IsInRole("Admin")){
                      <a class="btn btn-xs btn-outline-success float-md-right"  asp-action="Create">New Book</a>
                      }
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Id</th>
                                  <th>Photo</th>
                                  <th>Author</th>
                                  <th>Title</th>
                                  <th>Category</th>
                                  <th>Language</th>
                                  <th>Stock</th>
                              </tr>
                          </thead>
                          <tbody>
                              @foreach (var item in Model)
                              {
                                  <tr>
                                      <td>
                                          <a asp-action="Detail" asp-route-id="@item.Id">
                                              @item.Id
                                          </a>
                                      </td>
                                      <td>
                                          <img alt="image" src="@Url.Content(item.ImageUrl)" width="250" height="250" />
                                      </td>
                                      <td>@item.Author</td>
                                      <td>@item.Title</td>
                                      <td>@item.bookCategory.categoryName </td>
                                      <td>@item.Language</td>
                                      @if(item.Stock <=0){
                                           <td><p class="text-danger">@item.Stock</p></td>
                                      }
                                      else{
                                           <td>@item.Stock</td>
                                      }
                                     
                                      <td>
                                          @* <a class="text-success" asp-action="Detail" asp-route-id="@item.Id">
                                             Detail
                                          </a> *@
                                          @if(item.Stock >0){
                                           <a class="text-success" asp-action="BorrowRecord" asp-route-id="@item.Id">
                                             BORROW
                                          </a>
                                          }
                                           @if( User.IsInRole("Admin")){
                                          <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">
                                             Edit
                                          </a>
                                         
                                          <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">
                                             Delete
                                          </a>
                                           }
                                      </td>
                                  </tr>
                                  
                              }
                          </tbody>

                      </table>
                       <br />
                          @{
                              var disablePrevious = !Model.IsPreviousPageAvailable ? "disabled" : " ";
                              var disableNext = !Model.IsNextPageAvailable ? "disabled" : " ";
                          }

                          <a asp-action="@ViewContext.RouteData.Values["action"]"  asp-route-title="@ViewBag.SearchTitle" asp-route-id="@ViewContext.RouteData.Values["id"]" asp-route-pageNumber="@(Model.PageIndex -1)"
                          class="btn btn-primary @disablePrevious">
                              Previous
                          </a>

                          <a asp-action="@ViewContext.RouteData.Values["action"]" asp-route-title="@ViewBag.SearchTitle" asp-route-id="@ViewContext.RouteData.Values["id"]" asp-route-pageNumber="@(Model.PageIndex +1)"
                          class="btn btn-primary @disableNext">
                              Next
                          </a>
                 </div>
             </div>
        </div>

    </div>

</div>