@model LibraryUserDetailViewModel

@{
    var bookList =  @Model.Books.ToList();
    var borrowList = @Model.Borrows.ToList();
    var fineList = @Model.FineList.ToList();
}
<div class="row">
    <div class="col-md-12 grid-margin grid-margin-md-0">
        <div class="card-body">
             @if( User.IsInRole("Admin")){
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a  asp-action="Index">Users List</a></li>
                    <li class="breadcrumb-item active" area-current="page">User Detail</li>
                </ol>
            </nav>
             }
            <br /> <br />
             <div class="wrap d-flex justify-content-start justify-content-sm-center flex-wrap">
                <div class="wrap align-items-center ml-5">
                    <table class="table">
                         <thead class="thead-light">
                              <tr>
                               <th scope="col">Book Image</th>
                               <th scope="col">Book Title</th>
                               <th scope="col">Borrow Date</th>
                               <th scope="col">Return Date</th>
                               <th scope="col">Fine</th>
                               <th scope="col"> </th>
                             </tr>
                        <thead>
                     @if(@Model.Books != null){
                         @for(int i=0; i < Model.Books.Count() ; i++){ 
                             <tbody>
                                <tr>
                                     <td> <img alt="image" src="@Url.Content(bookList[i].ImageUrl)" width="250" height="250" /></td>
                                     <td>@bookList[i].Title</td>
                                     <td>@borrowList[i].BorrowedDate.ToString()</td>
                                     <td>@borrowList[i].SubmittedDate.ToString()</td>
                                     @if(@fineList[i] > 0){
                                     <td><p class="text-danger">@fineList[i]</p></td>
                                     }else{
                                      <td><p class="text-success">@fineList[i]</p></td>
                                     }
                                     <td> 
                                         <a class="text-success" asp-action="ReturnRecord" asp-route-bookId="@bookList[i].Id" asp-route-userId="@Model.Id">
                                             Return 
                                         </a>
                                    </td>
                                </tr>
                             </tbody>

                         }
                     }
                     </table> 
                </div>
                 
             </div>
            
        </div>

    </div>

</div>